@import "tailwindcss";


* {
  font-family: "Lora", serif;
  font-style: normal;
}


/* Marck Script */
.ababeelFont {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  /* font-style: normal; */
}