@import "tailwindcss";


* {
  font-family: "Lora", serif;
  font-style: normal;
}


/* Marck Script */
.ababeelFont {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  /* font-style: normal; */
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Heart ping animation */
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1);
}